.table{
  width: 100%;
}
.table-header{
  width: 100%;
  display: flex;
}
.table-header .table-row span:not(:last-child){
    cursor: pointer;
}
.table-header .table-row span:not(:last-child):hover{
    text-decoration: underline;
}
.table-body{
  display: flex;
  flex-flow: column;
}
.table-row{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.table-row span {
  display: flex;
  width: 100%;
  margin-right: 10px;
}
.table-row span:last-child {
  margin-right: 0;
}

input{
  appearance: none;
  border: 0;
  background: rgba(0,0,0,0);
  width: 100%;
}
